node_modules/
.env
logs/*.bin
*.bundle
!Assets/StreamingAssets/Missions/*.bundle
.DS_Store
bin/
obj/

# Unity
[Ll]ibrary/
[Tt]emp/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/
*.csproj
*.sln
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db
