node_modules/
.env
logs/*.bin
*.bundle
!Assets/StreamingAssets/Missions/*.bundle
.DS_Store
bin/
obj/

# 임시 스크린샷 캡처
Assets/Screenshots/
Assets/Screenshots.meta

# Unity
[Ll]ibrary/
[Tt]emp/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/
*.csproj
*.sln
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db
